#inicio {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

#inicio h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}


#inicio p {
    font-size: 18px;
    margin-bottom: 30px;
}


#inicio .action-buttons {
    display: flex;
    justify-content: center;
}

#inicio .action-buttons a {
    display: inline-block;
    margin: 0 15px;
    padding: 15px 30px;
    background-color: #007bff; 
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#inicio .action-buttons a:hover {
    background-color: #0056b3; 
}